<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h2>THÔNG BÁO DÀNH CHO KHÁCH HÀNG</h2> <br/>
        Kính gửi ông/bà {{ customerName }}      Quốc tịch: Việt Nam

        {% macro format_number(my_num) -%}
            {{ "{0:,.2f}".format(my_num)|replace(".", "#")|replace(",", ".")|replace("#", ",") }}
        {%- endmacro %}

        <table class="table table-bordered table-without-space">
            <tr>
                <td class="td-boder">STT</td>
                <td class="td-boder">Tên hạng mục</td>
                <td class="td-boder">Số tiền</td>
                <td class="td-boder">Ghi chú</td>
            </tr>
            
            {% for item in paymentRequest %}
            <tr>
                <td class="td-boder"> {{ loop.index }} </td>
                <td class="td-boder"> {{ item.serviceName }} </td>
                <td class="td-boder">{{ format_number(item.cash) }}</td>
                <td class="td-boder">{{ item['note'] }}</td>
            </tr>
            {% endfor %}
            {% set total = paymentRequest|sum(attribute='cash') %}
            <tr>
                <td class="td-boder"></td>
                <td class="td-boder">Tổng cộng</td>
                <td class="td-boder">
                    {{ format_number(total) }}
                </td>
                <td class="td-boder"></td>
            </tr>
        </table> <br/>
        Sau khi trừ số tiền trên, trong tài khoản lưu ký của quý khách còn lại {{ format_number(cashRemain) }} VND. <br/>
        
        
        
        {% macro display_not_enough(remain_cash, service_remain) -%}
            {% set not_enough_week = 1 %}
            {% if (service_remain <= not_enough_week) and (remain_cash < total) %}
                    <b>không</b>
            {% endif %}
        {%- endmacro %}
        
        Dự kiến {{ display_not_enough(cashRemain, serviceRemain)}} đủ để duy trì dịch vụ trong <b> {{ serviceRemain }} tuần</b> tiếp theo. <br/>

        {# Định nghĩa biến dữ liệu noti_remain_week đại diện cho số tuần tương ứng sẽ hiển thị thông báo #}
        {% set noti_remain_week = 3 %}
        {% if (serviceRemain <= noti_remain_week)   %}
        Đề nghị quý khách nạp thêm tiền vào tài khoản lưu ký để các dịch vụ có thể cung cấp đúng theo yêu cầu. <br/>
        {% endif %}

        Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi. <br/>

    </body>
</html>